<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>

<body>

    <form action="/" method="POST" style="max-width:500px;margin:auto">
        <h2>Login</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder="Email" name="email">
        </div>


        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="password" placeholder="Password" name="password">
        </div>

        <div>
            <button type="submit" class="btn" onclick="change()">Login</button>
        </div>



    </form>

    <div style="text-align: center">
        <p>
            <a href="{{url_for('signup')}}" class="btn">Signup</a>
        </p>
    </div>
    <p id="text" style="color: white;"></p>

    <div style="text-align: center; color: white;">
        <p style="color: white;">
            {{error}}
        </p>
    </div>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
    <p style="color: white;">{{msg}}</p>
    {% endfor %} {% endif %} {% endwith %}





</body>

</html>